<!DOCTYPE html>
<html>
<head>
  <title>Telemedicine App</title>
</head>
<body>
  <h1>Welcome to the Telemedicine App</h1>

  <p>This is the home page of the telemedicine application.</p>
</body>
</html>